{so_name, "efuse_nif.so"}.

{port_envs, [
            {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -I. -I/usr/include/fuse"},
	    {"DRV_LDFLAGS", "$DRV_LDFLAGS -lfuse"},	
            {"linux.*-32$", "CFLAGS", "-D_FILE_OFFSET_BITS=32"},
            {"linux.*-64$", "CFLAGS", "-D_FILE_OFFSET_BITS=64"}
            ]}.


